@import './styles/variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'ProximaNova', -apple-system, BlinkMacSystemFont, sans-serif;
  background: #f9f9f9;
}

.app {
  min-height: 100vh;
  background: #f9f9f9;
}
